.new-requirement_form-wrapper {
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 0 18px;
}

.new-requirement_form {
  border: 1px solid rgb(184, 109, 245);
  border-radius: 6px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.new-requirement_label {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.new-requirement_label > span {
  font-size: 14px;
  color: #222;
}

.new-requirement_label > textarea,
.new-requirement_label > input {
  height: 40px;
  /* should be 16px+ because of the ios devices */
  font-size: 16px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #e8e8e8;
  padding: 0 17px;
  outline: 0;
  transition: border .2s ease-in-out;
}

.new-requirement_label > textarea {
  padding: 10px 17px;
  height: auto;
}

.new-requirement_label > textarea:hover,
.new-requirement_label > input:hover {
  border-color: #dbdbdb;
}

.new-requirement_label > textarea:focus,
.new-requirement_label > input:focus {
  border-color: #999;
}

.new-requirement_add-button {
  margin-top: 35px;
  display: block;
  padding: 0;
  height: 58px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  background: rgb(117, 90, 240);
  font-size: 18px;
  border-radius: 6px;
  margin-bottom: 30px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.new-requirement_add-button:hover {
  transform: scale(1.1);
}

.my-nice-select {
  width: 100%;
}

select {
  display: block !important;
  margin: 0;
  border: 0;
  padding: 0;
  height: 1px;
  opacity: 0;
  position: relative;
  /* Top should be the same as the height of your */
  /* unfocused, nice select replacement element! */
  top: 40px;
}
