{% extends 'main/structured/base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="/static/new_requirement.css">
{% endblock %}

{% block content %}
  <h1 class="default-h1">Новое требование</h1>
  <form method="post" class="new-requirement_form">
    {% csrf_token %}
    {{ form.as_p }}
    <label class="new-requirement_label">
      <span>Идентификатор</span>
      <input type="text" name="id" required placeholder="Идентификатор">
    </label>
    <label class="new-requirement_label">
      <span>Описание</span>
      <textarea name="description" required placeholder="Описание"></textarea>
    </label>
    <label class="new-requirement_label">
      <span>Тип</span>
      <select name="type" required placeholder="Тип">
        {% for requirement_type in requirement_types %}
        <option value="{{ requirement_type.id }}">{{ requirement_type.name }}</option>
        {% endfor %}
      </select>
    </label>
    <label class="new-requirement_label">
      <span>Приоритет</span>
      <input type="text" name="priority" required placeholder="Приоритет">
    </label>
    <label class="new-requirement_label">
      <span>Статус</span>
      <input type="text"name="status" required placeholder="Статус">
    </label>
    <button type="submit">Добавить</button>
  </form>
{% endblock %}
